.Container2 {
  background-color: black;
}
.Contacto2 {
  background-color: black;
  margin-left: 100px;
  max-width: 1350px;
}
.imagen-logo {
  margin-top: 55px;
  margin-left: 100px;
  width: 75px;
  height: 75px;
}
.Contactanos {
  font-size: 40px;
}
.Iconos {
  margin-top: 20px;
  margin-left: 22px;
  width: 35px;
  height: 35px;
}
.Escribe {
  font-size: 25px;
  font-weight: bold;
  margin-left: 100px;
}
.form-control {
  outline: none;
  font-family: "Poppins", sans-serif;
  border-width: 0 0 1px 0;
  background: transparent;
  width: 23em;
}
.Mensaje {
  font-family: "Poppins", sans-serif;
  width: 25em;
  height: 6em;
}

.enviar {
  margin-left: 300px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  background-color: #00a9ab;
}
